.zm-component-product {
    /* height: 341.3px; */
    /* width: 329px; */
    background-color: #97C4EA;
    /* cursor: pointer; */
}
.zm-component-product .zm-component-product-img {
    width: 100%;
    height: 100%;
    /* background-size: cover; */
    /* background-position: center; */
    background-repeat: no-repeat;
    cursor:pointer;
}
.zm-component-product .zm-component-product-img img {
    user-select: none;
}
.zm-component-product .zm-component-product-title {
    width: 100%;
    /* min-height: 100px; */
    /* padding: 25px; */
    /* padding-top:0px; */
    box-sizing: border-box;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    /* height: 156px; */
    /* overflow: hidden; */
}
.zm-component-product .zm-component-product-title .zm-component-product-title-text {
    word-break: break-all;
    word-wrap: break-word;
    overflow : hidden;
    text-overflow: ellipsis;
    /* display: -webkit-box; */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    cursor:pointer;
    transform: translate3d(0,0,0);
    transition: all 0.2s;
}
.zm-component-product .zm-component-product-title .zm-component-product-title-type {
    color: #ffffff;
    /* margin-top: 8px; */
    /* margin-bottom: 8px; */
    font-size: 14px;
    word-break: break-all;
    word-wrap: break-word;
    overflow : hidden;
    text-overflow: ellipsis;
    /* display: -webkit-box; */
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.zm-component-product .zm-component-product-title .zm-component-product-title-line {
    /* display: none; */
    background-color: #fff;
    width: 100%;
    height: 1px;
}
.zm-component-product .zm-component-product-title .zm-component-product-title-price {
    /* margin-top: 5px; */
    color: #990000;
    font-size: 20px;
    font-weight:500;
    /* word-break: break-all; */
    /* word-wrap: break-word; */
    /* overflow : hidden; */
    text-overflow: ellipsis;
    /* display: -webkit-box; */
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.zm-component-product .zm-component-product-title .zm-component-product-title-details {
    width: 100%;
    height: 30px;
    text-align: center;
    text-align: -webkit-center;
    line-height: 30px;
    color: #ffffff;
    /* margin-top: 5px; */
    font-weight: 500;
    font-size: 13px;
    cursor:pointer;
}
.zm-component-product .zm-component-product-title .zm-component-product-title-details span {
    display: inline-block;
    height: 100%;
    width: 45%;
    background-color: #3089D5;
    overflow: hidden;
    text-align:center;
}


/* //商品轮播图片悬浮效果=======start */
.zm-component-product .image_magnify2 {
  transition: All 0.3s;
}

.zm-component-product .image_magnify2:hover {
    transform: scale(1.1);
}

.zm-component-product .image_shiftLeft2 {
    /* transform: translate(-2.5%, -2.5%); */
    /* liu */
    width: 110%;
    height: 110%;
    position: absolute;
    left: -5%;
    top: -5%;
    transition: All 0.3s;
}

.zm-component-product .image_shiftLeft2:hover {
    transform: translateX(-2.5%);
    /* liu */
}

.zm-component-product .image_shiftTop2 {
    /* transform: translate(-2.5%, -2.5%); */
    /* liu */
    width: 110%;
    height: 110%;
    position: absolute;
    left: -5%;
    top: -5%;
    transition: All 0.3s;
}

.zm-component-product .image_shiftTop2:hover {
    transform: translateY(-2.5%);
    /* liu */
}

.zm-component-product .image_emptiness2 {
    width: 110%;
    height: 110%;
    position: absolute;
    left: -5%;
    top: -5%;
    transition: All 0.3s;
}

.zm-component-product .image_emptiness2:hover {
    filter: blur(1px);
}

/* //商品轮播图片悬浮效果=======end */